/*
    默认（浅色）主题
    此部分定义了网页在浅色模式下的基本样式。
    包括字体设置、背景及文字颜色、页面居中布局，
    以及颜色变化时的平滑过渡效果。
*/

body {
    font-family: Arial, sans-serif; /* 全局设置字体为Arial，若无则使用默认无衬线字体 */
    background-color: #f0f0f0; /* 浅灰色背景 */
    color: #333; /* 深色文本颜色 */
    display: flex; /* 启用弹性盒子模型布局 */
    justify-content: center; /* 水平居中内容 */
    align-items: center; /* 垂直居中内容 */
    height: 100vh; /* 设置body高度为视口高度 */
    margin: 0; /* 清除默认边距 */
    transition: background-color 0.3s, color 0.3s; /* 设置背景色与文字颜色过渡时间为0.3秒 */
}

#time-left {
    font-size: 5rem; /* 时间显示的字体大小 */
    margin-bottom: 20px; /* 下方外边距，增加与其他元素间距 */
}

button {
    font-size: 1.2rem; /* 按钮文字大小 */
    padding: 10px 20px; /* 内边距，控制按钮大小 */
    margin: 5px; /* 按钮间的间距 */
    cursor: pointer; /* 鼠标悬停时指针变为手型 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 圆角边框 */
    transition: background-color 0.3s, color 0.3s; /* 背景色与文字颜色过渡效果 */
}

button:hover {
    background-color: #ddd; /* 鼠标悬停时的背景色 */
}

/*
    深色主题
    当启用深色模式时，改变背景色、文字色以及按钮样式。
*/

.dark-theme {
    background-color: #333; /* 深色背景 */
    color: #f0f0f0; /* 浅色文字 */
}

.dark-theme button {
    background-color: #555; /* 深色按钮背景 */
    color: #f0f0f0; /* 浅色按钮文字 */
}

.dark-theme button:hover {
    background-color: #666; /* 鼠标悬停在深色按钮时的背景色 */
}

/*
    选择铃声容器
    此部分定义了选择铃声容器的样式，包括位置、背景、圆角、透明度等。
    注意：渐变在js中进行。
*/

#alarm-container {
    position: absolute; /* 绝对定位，允许自由放置 */
    display: none; /* 默认隐藏闹钟容器 */
    background-color: rgb(127, 127, 127); /* 灰色背景 */
    border-radius: 10px; /* 边框圆角 */
    opacity: 0; /* 初始不透明度为0 */
    top: 50vh; /* 垂直居中（基于视口高度的一半） */
    left: 50vw; /* 水平居中（基于视口宽度的一半） */
    z-index: 10; /* 确保闹钟容器在其他元素之上 */
}

#alarm-title {
    font-size: 1.2rem; /* 闹钟标题字体大小 */
    margin-top: 5px; /* 上外边距 */
    margin-left: 10px; /* 左外边距 */
}

#dark-overlay {
    position: absolute; /* 绝对定位，覆盖全屏 */
    display: none; /* 默认隐藏遮罩层 */
    top: 0; /* 紧贴顶部 */
    left: 0; /* 紧贴左侧 */
    width: 100%; /* 宽度100%，覆盖全宽 */
    height: 100%; /* 高度100%，覆盖全高 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色遮罩 */
    z-index: 9; /* 确保遮罩层在大部分元素之下，闹钟容器之上 */
}

.alarm-close {
    position: absolute; /* 绝对定位，便于放置关闭按钮 */
    top: 5px; /* 距离顶部距离 */
    right: 15px; /* 距离右侧距离 */
    cursor: pointer; /* 鼠标悬停时指针变为手型 */
}

.alarm-close:hover {
    color: rgba(244, 244, 244, 0.8); /* 鼠标悬停时关闭按钮颜色变淡 */
}
